<div class = "container">
    <h2 class="heading">Add a New Employee</h2>
    <form [formGroup]="employeeForm" novalidate (ngSubmit)="addEmployee(employeeForm.value)">
        <mat-form-field hintLabel="Max 20 characters" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput #input maxlength="20" placeholder="First Name" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field hintLabel="Max 20 characters" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput #input maxlength="20" placeholder="Last Name" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field  appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
                <mat-option *ngFor="let genderType of genders" value={{genderType}} required>
                    {{genderType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field  appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department">
                <mat-option *ngFor="let department of departments" value={{department.deptName}} required>
                    {{department.deptName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field  appearance="fill">
            <mat-label>Designation</mat-label>
            <mat-select formControlName="jobTitle"> 
                <mat-option *ngFor="let job of jobTitles" value={{job}} required>
                    {{job}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker startView="month" [startAt]="startDate">
                <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <div>
            <button class="btn" mat-raised-button color="primary" [disabled]="employeeForm.invalid">
                Add
            </button>
        </div>
    </form>
    <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
</div>
