    <ng-container>
        <mat-form-field hintLabel="Max 20 characters" appearance="fill">
            <mat-label>Department Name</mat-label>
            <input matInput #input maxlength="20" placeholder="Department Name" [(ngModel)] = "department" >
        </mat-form-field>
        <button class="btn" mat-raised-button color="primary" (click)= "addNewDepartment()">
            Add
        </button>
        <div class="container">
            <h3 class="text"> Department List </h3>
            <div *ngFor="let department of departmentDetails">
                <h5 class="text" >{{department.deptName}}</h5>
            </div>
        </div>
    </ng-container>

